@page "/"
@using BlazorApp.Client.Abstraction;
@using BlazorApp.Client.Pages.Assets
@using BlazorApp.Client.Pages.General

@inject IBrowserService BrowserService
@inject IClientSettingsService ClientSettingsService

<PageTitle>Trading Suite</PageTitle>

<div class="ts-container">
    <div class="ts-item-general-status ts-cell">
        <GeneralStatusPage />
    </div>
    <div class="ts-item-commited-pnl ts-cell">
        Commited PNL
    </div>
    <div class="ts-item-server-settings ts-cell">
        Server Settings
    </div>
    <div class="ts-item-client-settings ts-cell">
        Client Settings
    </div>
    <div class="ts-item-navigation ts-cell">
        Navigation
    </div>
    <div class="ts-item-main ts-cell">
        <AssetsContainerPage />
    </div>
</div>

@code
{
    private AssetsContainerPage? _assetsContainerPage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserService.InitializeResizeListener(this);

            await UpdateWindowSize();
        }
    }

    [JSInvokable]
    public async Task UpdateWindowSize()
    {
        var windowSize = await BrowserService.GetWindowSize();

        await ClientSettingsService.WindowSize.Set(windowSize);
    }
}