.ts-container {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
}

.ts-item {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-column-end);
    grid-row-start: var(--grid-row-start);
    grid-row-end: var(--grid-row-end);
    width: 100%;
    height: var(--height);
}