@using BlazorApp.Client.Entities;

<div class="ts-container ts-border-negative">
    <div class="ts-item-header">
        <AssetPageHeader BaseAsset=@BaseAsset />
    </div>
    <div class="ts-item-body">
        <AssetPageBody BaseAsset=@BaseAsset />
    </div>    
</div>

@code{
    [Parameter]
    public string BaseAsset { get; set; } = string.Empty;
}