<div class="ts-container">
    @*slope-short*@
    <div class="ts-item ts-item-slope-short-a" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-short-b" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-short-c" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-short-d" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-short-e" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-short-f" style="--background-color:indianred;">
    </div>
    @*slope-long*@
    <div class="ts-item ts-item-slope-long-a" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-long-b" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-long-c" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-long-d" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-long-e" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-slope-long-f" style="--background-color:indianred;">
    </div>
    @*cross-diff*@
    <div class="ts-item ts-item-cross-diff-a" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-cross-diff-b" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-cross-diff-c" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-cross-diff-d" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-cross-diff-e" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-cross-diff-f" style="--background-color:indianred;">
    </div>
    @*price-short-diff*@
    <div class="ts-item ts-item-price-short-diff-a" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-short-diff-b" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-short-diff-c" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-short-diff-d" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-short-diff-e" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-short-diff-f" style="--background-color:indianred;">
    </div>
    @*price-long-diff*@
    <div class="ts-item ts-item-price-long-diff-a" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-long-diff-b" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-long-diff-c" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-long-diff-d" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-long-diff-e" style="--background-color:indianred;">
    </div>
    <div class="ts-item ts-item-price-long-diff-f" style="--background-color:indianred;">
    </div>
</div>

@code {
    [Parameter]
    public string AssetId { get; set; } = string.Empty;
}