@using BlazorApp.Client.Entities;

<div class="ts-container ts-border-negative">
    <div class="ts-item-header">
        <AssetPageHeader AssetId=@AssetId />
    </div>
    <div class="ts-item-body">
        <AssetPageBody AssetId=@AssetId />
    </div>    
</div>

@code{
    [Parameter]
    public string AssetId { get; set; } = string.Empty;
}