@using BlazorApp.Client.Entities;
@using BlazorApp.Client.Services;

@implements IDisposable

@inject IClientCacheService ClientCache

<div class="ts-container">
    <div class="ts-item-asset-name">
        @Asset.AssetId
    </div>
    <div class="ts-item-asset-price">
        @Asset.AssetPrice.GetPriceString()
    </div>    
</div>

@code {
    [Parameter]
    public string AssetId { get; set; } = string.Empty;

    public AssetEntity Asset => ClientCache.GetAssetEntity(AssetId);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ClientCache.AssetPrice.Updated += assetPrice_Updated;

    }

    public void Dispose()
    {
        ClientCache.AssetPrice.Updated -= assetPrice_Updated;
    }

    private async Task assetPrice_Updated(AssetPriceEntity? assetPrice)
    {
        if (assetPrice == null || assetPrice.AssetId == AssetId)
            await InvokeAsync(StateHasChanged);
    }
}